services:
  appseed-app:
    container_name: appseed_app
    restart: always
    build: .
    env_file:
      - .env
    networks:
      - db_network
      - web_network
    depends_on:
      mysql:
        condition: service_healthy
    
  nginx:
    container_name: nginx
    restart: always
    image: "nginx:latest"
    ports:
      - "5085:5085"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./static:/static:ro
    networks:
      - web_network
    depends_on: 
      - appseed-app

  mysql:
    container_name: "${APP_NAME}_mysql"
    image: mysql:8.0
    tty: true
    command: --default-authentication-plugin=mysql_native_password --max_connections=666 --bind-address=0.0.0.0 --transaction-isolation=READ-COMMITTED
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: "America/Sao_Paulo"
    volumes:
      - mysql:/var/lib/mysql
      - "./docker/mysql/create-database.sh:/docker-entrypoint-initdb.d/10-create-database.sh"
      - "./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf"
    ports:
      - "${FORWARD_DB_PORT:-3306}:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
      retries: 3
      timeout: 5s
      start_period: 30s
    networks:
      - db_network

  phpmyadmin:
    container_name: "${APP_NAME}_phpmyadmin"
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    ports:
      - 8082:80
    environment:
      PMA_HOST: mysql
      PMA_PORT: ${FORWARD_DB_PORT:-3306}
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
      UPLOAD_LIMIT: 350M
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - db_network   
networks:
  db_network:
    driver: bridge
  web_network:
    driver: bridge

volumes:
  mysql:
    driver: local